.users {
}

.user {
  display: flex;
  width: 100%;
  gap: 20px;
}

.userName {
  font-weight: bold;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-bottom: 15px;
}

.right {
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-grow: 1;
}

.info {
  flex-grow: 1;
}

.users button {
  background-color: #3b5998;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
}

.pagination {
  margin-top: -10px;
  margin-left: -10px;
}

.pagination button {
  display: inline-block;
  margin: 10px 0 0 10px;
}

.pagination button:not(.active) {
  background-color: #dddddd;
  color: #000000;
}

.pagination button.active {
  background-color: #3b5998;
  color: #ffffff;
  cursor: default;
}
